@using BlackDigital.Blazor.Components.Fields
@inherits BDComponent

<CascadingValue Name="FieldId" Value="FieldId">
    <div class="@($"fieldContainer {ContainerClass}")">
        <FieldLabel Label="Label" For="For" class="@LabelClass" />

        @if (ChildContent != null)
        {
            @ChildContent(FieldId)
        }
        else
        {
            <input type="text" class="form-control" id="@FieldId" />
        }

        <FieldDescription Description="Description" For="For" class="@DescriptionClass" />

        @if (For != null)
        {
            <ValidationMessage For="For" />
        }
        else
        {
            <FieldValidationMessage />
        }
    </div>
</CascadingValue>